  <p>Welcome to the Problem Bank.  This is a central repository of problems (currently only for Precalculus) 
  that can be used to build homework sets, quizzes and exams.  </p>
  <p>To build an exam, homework set or quiz, start with the <b>Problems</b> link on the top, create a name for your problem set
  and then add problems.</p>
  <p>You can select <b>Help</b> in the top of the page to bring up a sidepane of help.  </p>

