<div id="sidebar">
  <h4>Problem Bank</h4>
  <ul id="sidebar-items">
    <li><a href="/problem">Add New Problem</a></li>
    <li><a href="/modules">Edit Modules</a></li> 
    <li><a href="/problems">List of Problems</a></li> 
    <li><a href="/problemsets">Problem Sets</a></li>
  </ul>
  
    
</div>
